@font-face {
  font-family: 'Atkinson Hyperlegible Next Variable';
  font-style: normal;
  font-weight: 200 800;
  font-display: optional;
  src: url('@fontsource-variable/atkinson-hyperlegible-next/files/atkinson-hyperlegible-next-latin-wght-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next Variable';
  font-style: italic;
  font-weight: 200 800;
  font-display: optional;
  src: url('@fontsource-variable/atkinson-hyperlegible-next/files/atkinson-hyperlegible-next-latin-wght-italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Mono Variable';
  font-style: normal;
  font-weight: 200 800;
  font-display: optional;
  src: url('@fontsource-variable/atkinson-hyperlegible-mono/files/atkinson-hyperlegible-mono-latin-wght-normal.woff2')
    format('woff2');
}
